In [23]:
import pandas as pd

In [4]:
Data=pd.read_csv('Coca_cola_Financial_Report.csv')

In [5]:
Data

,CONSOLIDATED STATEMENTS OF CASH FLOWS (USD $),"Dec. 31, 2019","Dec. 31, 2018","Dec. 31, 2017","Dec. 31, 2016","Dec. 31, 2015","Dec. 31, 2014","Dec. 31, 2013","Dec. 31, 2012","Dec. 31,2011","Dec. 31, 2010","Dec. 31, 2009"
0,CONSOLIDATED NET INCOME,"$8,985","$6,476","$1,283","$6,550","$7,366","$7,124","$8,626","$9,086","$8,646","$11,837","$6,906"
1,Depreciation and amortization,"1,365","1,086","1,260","1,787","1,970","1,976","1,977","1,982","1,954","1,443","1,236"
2,Stock-based compensation expense,201,225,219,258,236,209,227,259,354,380,241
3,Deferred income taxes,-280,-413,"-1,252",-856,73,-40,648,632,"1,035",604,353
4,Equity (income) loss - net of dividends,-421,-457,-628,-449,-122,-371,-201,-426,-269,-671,-359
5,Foreign currency adjustments,91,-50,292,158,-137,415,168,-130,7,151,61
6,Significant (gains) losses on sales of assets ...,-467,743,"1,459","1,146",-374,831,-670,-98,-220,-645,-43
7,Other operating charges,127,558,"1,218",647,929,761,465,166,214,264,134
8,Other items,504,699,-252,-224,744,149,234,254,-354,512,221
9,Net change in operating assets and liabilities,366,"-1,240","3,442",-225,-157,-439,-932,"-1,080","-1,893",370,-564
10,Net cash provided by operating activities,"10,471","7,627","7,041","8,792","10,528","10,615","10,542","10,645","9,474","9,532","8,186"
11,INVESTING ACTIVITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,',NaN,NaN
12,Purchases of investments,"-4,704","-7,789","-17,296","-16,626","-15,831","-17,800","-14,782","-14,824","-4,798","-4,579","-2,130"
13,Proceeds from disposals of investments,"6,973","14,977","16,694","17,842","14,079","12,986","12,791","7,791","5,811","4,032",0
14,"Acquisitions of businesses, equity method inve...","-5,542","-1,263","-3,809",-838,"-2,491",-389,-353,"-1,486",-971,"-2,511",-300
15,"Proceeds from disposals of businesses, equity ...",429,"1,362","3,821","1,035",565,148,872,20,398,972,240
16,"Purchases of property, plant and equipment","-2,054","-1,548","-1,750","-2,262","-2,553","-2,406","-2,550","-2,780","-2,920","-2,215","-1,993"
17,"Proceeds from disposals of property, plant and...",978,248,108,150,85,223,111,143,101,134,104
18,Other investing activities,-56,-60,-80,-305,-40,-268,-303,-268,-145,-106,-48
19,Net cash provided by (used in) investing activ...,"-3,976","5,927","-2,312","-1,004","-6,186","-7,506","-4,214","-11,404","-2,524","-4,405","-4,149"
20,FINANCING ACTIVITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,',NaN,NaN
21,Issuances of debt,"23,009","27,605","29,926","27,281","40,434","41,674","43,425","42,791","27,495","15,251","14,689"
22,Payments of debt,"-24,850","-30,600","-28,871","-25,615","-37,738","-36,962","-38,714","-38,573","-22,530","-13,403","-12,326"
23,Issuances of stock,"1,012","1,476","1,595","1,434","1,245","1,532","1,328","1,489","1,569","1,666",664
24,Purchases of stock for treasury,"-1,103","-1,912","-3,682","-3,681","-3,564","-4,162","-4,832","-4,559","-4,513","-2,961","-1,518"
25,Dividends,"-6,845","-6,644","-6,320","-6,043","-5,741","-5,350","-4,969","-4,595","-4,300","-4,068","-3,800"
26,Other financing activities,-227,-272,-95,79,251,-363,17,100,45,50,-2
27,Net cash provided by (used in) financing activ...,"-9,004","-10,347","-7,447","-6,545","-5,113","-3,631","-3,745","-3,347","-2,234","-3,465","-2,293"
28,EFFECT OF EXCHANGE RATE CHANGES ON CASH AND CA...,-72,-262,241,-5,-878,-934,-611,-255,-430,-166,576
29,CASH AND CASH EQUIVALENTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,',NaN,NaN
30,Net increase (decrease) during the year,"-2,581","2,945","-2,477","1,238","-1,649","-1,456","1,972","-4,361","4,286","1,496","2,320"
31,Balance at beginning of year,"9,318","6,373","8,850","7,612","8,958","10,414","8,442","12,803","8,517","7,021","4,701"
32,Balance at end of year,"6,737","9,318","6,373","8,850","$7,309","$8,958","$10,414","$8,442","$12,803","$8,517","$7,021"

In [9]:
#ignoring all rows with Nan
import numpy as np
Data.replace(np.nan,'')

,CONSOLIDATED STATEMENTS OF CASH FLOWS (USD $),"Dec. 31, 2019","Dec. 31, 2018","Dec. 31, 2017","Dec. 31, 2016","Dec. 31, 2015","Dec. 31, 2014","Dec. 31, 2013","Dec. 31, 2012","Dec. 31,2011","Dec. 31, 2010","Dec. 31, 2009"
0,CONSOLIDATED NET INCOME,"$8,985","$6,476","$1,283","$6,550","$7,366","$7,124","$8,626","$9,086","$8,646","$11,837","$6,906"
1,Depreciation and amortization,"1,365","1,086","1,260","1,787","1,970","1,976","1,977","1,982","1,954","1,443","1,236"
2,Stock-based compensation expense,201,225,219,258,236,209,227,259,354,380,241
3,Deferred income taxes,-280,-413,"-1,252",-856,73,-40,648,632,"1,035",604,353
4,Equity (income) loss - net of dividends,-421,-457,-628,-449,-122,-371,-201,-426,-269,-671,-359
5,Foreign currency adjustments,91,-50,292,158,-137,415,168,-130,7,151,61
6,Significant (gains) losses on sales of assets ...,-467,743,"1,459","1,146",-374,831,-670,-98,-220,-645,-43
7,Other operating charges,127,558,"1,218",647,929,761,465,166,214,264,134
8,Other items,504,699,-252,-224,744,149,234,254,-354,512,221
9,Net change in operating assets and liabilities,366,"-1,240","3,442",-225,-157,-439,-932,"-1,080","-1,893",370,-564
10,Net cash provided by operating activities,"10,471","7,627","7,041","8,792","10,528","10,615","10,542","10,645","9,474","9,532","8,186"
11,INVESTING ACTIVITIES,,,,,,,,,',,
12,Purchases of investments,"-4,704","-7,789","-17,296","-16,626","-15,831","-17,800","-14,782","-14,824","-4,798","-4,579","-2,130"
13,Proceeds from disposals of investments,"6,973","14,977","16,694","17,842","14,079","12,986","12,791","7,791","5,811","4,032",0
14,"Acquisitions of businesses, equity method inve...","-5,542","-1,263","-3,809",-838,"-2,491",-389,-353,"-1,486",-971,"-2,511",-300
15,"Proceeds from disposals of businesses, equity ...",429,"1,362","3,821","1,035",565,148,872,20,398,972,240
16,"Purchases of property, plant and equipment","-2,054","-1,548","-1,750","-2,262","-2,553","-2,406","-2,550","-2,780","-2,920","-2,215","-1,993"
17,"Proceeds from disposals of property, plant and...",978,248,108,150,85,223,111,143,101,134,104
18,Other investing activities,-56,-60,-80,-305,-40,-268,-303,-268,-145,-106,-48
19,Net cash provided by (used in) investing activ...,"-3,976","5,927","-2,312","-1,004","-6,186","-7,506","-4,214","-11,404","-2,524","-4,405","-4,149"
20,FINANCING ACTIVITIES,,,,,,,,,',,
21,Issuances of debt,"23,009","27,605","29,926","27,281","40,434","41,674","43,425","42,791","27,495","15,251","14,689"
22,Payments of debt,"-24,850","-30,600","-28,871","-25,615","-37,738","-36,962","-38,714","-38,573","-22,530","-13,403","-12,326"
23,Issuances of stock,"1,012","1,476","1,595","1,434","1,245","1,532","1,328","1,489","1,569","1,666",664
24,Purchases of stock for treasury,"-1,103","-1,912","-3,682","-3,681","-3,564","-4,162","-4,832","-4,559","-4,513","-2,961","-1,518"
25,Dividends,"-6,845","-6,644","-6,320","-6,043","-5,741","-5,350","-4,969","-4,595","-4,300","-4,068","-3,800"
26,Other financing activities,-227,-272,-95,79,251,-363,17,100,45,50,-2
27,Net cash provided by (used in) financing activ...,"-9,004","-10,347","-7,447","-6,545","-5,113","-3,631","-3,745","-3,347","-2,234","-3,465","-2,293"
28,EFFECT OF EXCHANGE RATE CHANGES ON CASH AND CA...,-72,-262,241,-5,-878,-934,-611,-255,-430,-166,576
29,CASH AND CASH EQUIVALENTS,,,,,,,,,',,
30,Net increase (decrease) during the year,"-2,581","2,945","-2,477","1,238","-1,649","-1,456","1,972","-4,361","4,286","1,496","2,320"
31,Balance at beginning of year,"9,318","6,373","8,850","7,612","8,958","10,414","8,442","12,803","8,517","7,021","4,701"
32,Balance at end of year,"6,737","9,318","6,373","8,850","$7,309","$8,958","$10,414","$8,442","$12,803","$8,517","$7,021"

In [65]:
#Rearranging rows and columns using transpose for better analysis
import pandas as pd
pd.DataFrame.T
Data = Data.T
Data

,index,0,1,2,3,4,5,6,7,8,...,23,24,25,26,27,28,29,30,31,32
0,index,0,1,2,3,4,5,6,7,8,...,23,24,25,26,27,28,29,30,31,32
1,CONSOLIDATED STATEMENTS OF CASH FLOWS (USD $),CONSOLIDATED NET INCOME,Depreciation and amortization,Stock-based compensation expense,Deferred income taxes,Equity (income) loss - net of dividends,Foreign currency adjustments,Significant (gains) losses on sales of assets ...,Other operating charges,Other items,...,Issuances of stock,Purchases of stock for treasury,Dividends,Other financing activities,Net cash provided by (used in) financing activ...,EFFECT OF EXCHANGE RATE CHANGES ON CASH AND CA...,CASH AND CASH EQUIVALENTS,Net increase (decrease) during the year,Balance at beginning of year,Balance at end of year
2,"Dec. 31, 2019","$8,985","1,365",201,-280,-421,91,-467,127,504,...,"1,012","-1,103","-6,845",-227,"-9,004",-72,NaN,"-2,581","9,318","6,737"
3,"Dec. 31, 2018","$6,476","1,086",225,-413,-457,-50,743,558,699,...,"1,476","-1,912","-6,644",-272,"-10,347",-262,NaN,"2,945","6,373","9,318"
4,"Dec. 31, 2017","$1,283","1,260",219,"-1,252",-628,292,"1,459","1,218",-252,...,"1,595","-3,682","-6,320",-95,"-7,447",241,NaN,"-2,477","8,850","6,373"
5,"Dec. 31, 2016","$6,550","1,787",258,-856,-449,158,"1,146",647,-224,...,"1,434","-3,681","-6,043",79,"-6,545",-5,NaN,"1,238","7,612","8,850"
6,"Dec. 31, 2015","$7,366","1,970",236,73,-122,-137,-374,929,744,...,"1,245","-3,564","-5,741",251,"-5,113",-878,NaN,"-1,649","8,958","$7,309"
7,"Dec. 31, 2014","$7,124","1,976",209,-40,-371,415,831,761,149,...,"1,532","-4,162","-5,350",-363,"-3,631",-934,NaN,"-1,456","10,414","$8,958"
8,"Dec. 31, 2013","$8,626","1,977",227,648,-201,168,-670,465,234,...,"1,328","-4,832","-4,969",17,"-3,745",-611,NaN,"1,972","8,442","$10,414"
9,"Dec. 31, 2012","$9,086","1,982",259,632,-426,-130,-98,166,254,...,"1,489","-4,559","-4,595",100,"-3,347",-255,NaN,"-4,361","12,803","$8,442"
10,"Dec. 31,2011","$8,646","1,954",354,"1,035",-269,7,-220,214,-354,...,"1,569","-4,513","-4,300",45,"-2,234",-430,',"4,286","8,517","$12,803"
11,"Dec. 31, 2010","$11,837","1,443",380,604,-671,151,-645,264,512,...,"1,666","-2,961","-4,068",50,"-3,465",-166,NaN,"1,496","7,021","$8,517"
12,"Dec. 31, 2009","$6,906","1,236",241,353,-359,61,-43,134,221,...,664,"-1,518","-3,800",-2,"-2,293",576,NaN,"2,320","4,701","$7,021"

In [80]:
Data

,index,0,1,2,3,4,5,6,7,8,...,23,24,25,26,27,28,29,30,31,32
0,index,0,1,2,3,4,5,6,7,8,...,23,24,25,26,27,28,29,30,31,32
1,CONSOLIDATED STATEMENTS OF CASH FLOWS (USD $),CONSOLIDATED NET INCOME,Depreciation and amortization,Stock-based compensation expense,Deferred income taxes,Equity (income) loss - net of dividends,Foreign currency adjustments,Significant (gains) losses on sales of assets ...,Other operating charges,Other items,...,Issuances of stock,Purchases of stock for treasury,Dividends,Other financing activities,Net cash provided by (used in) financing activ...,EFFECT OF EXCHANGE RATE CHANGES ON CASH AND CA...,CASH AND CASH EQUIVALENTS,Net increase (decrease) during the year,Balance at beginning of year,Balance at end of year
2,"Dec. 31, 2019","$8,985","1,365",201,-280,-421,91,-467,127,504,...,"1,012","-1,103","-6,845",-227,"-9,004",-72,NaN,"-2,581","9,318","6,737"
3,"Dec. 31, 2018","$6,476","1,086",225,-413,-457,-50,743,558,699,...,"1,476","-1,912","-6,644",-272,"-10,347",-262,NaN,"2,945","6,373","9,318"
4,"Dec. 31, 2017","$1,283","1,260",219,"-1,252",-628,292,"1,459","1,218",-252,...,"1,595","-3,682","-6,320",-95,"-7,447",241,NaN,"-2,477","8,850","6,373"
5,"Dec. 31, 2016","$6,550","1,787",258,-856,-449,158,"1,146",647,-224,...,"1,434","-3,681","-6,043",79,"-6,545",-5,NaN,"1,238","7,612","8,850"
6,"Dec. 31, 2015","$7,366","1,970",236,73,-122,-137,-374,929,744,...,"1,245","-3,564","-5,741",251,"-5,113",-878,NaN,"-1,649","8,958","$7,309"
7,"Dec. 31, 2014","$7,124","1,976",209,-40,-371,415,831,761,149,...,"1,532","-4,162","-5,350",-363,"-3,631",-934,NaN,"-1,456","10,414","$8,958"
8,"Dec. 31, 2013","$8,626","1,977",227,648,-201,168,-670,465,234,...,"1,328","-4,832","-4,969",17,"-3,745",-611,NaN,"1,972","8,442","$10,414"
9,"Dec. 31, 2012","$9,086","1,982",259,632,-426,-130,-98,166,254,...,"1,489","-4,559","-4,595",100,"-3,347",-255,NaN,"-4,361","12,803","$8,442"
10,"Dec. 31,2011","$8,646","1,954",354,"1,035",-269,7,-220,214,-354,...,"1,569","-4,513","-4,300",45,"-2,234",-430,',"4,286","8,517","$12,803"
11,"Dec. 31, 2010","$11,837","1,443",380,604,-671,151,-645,264,512,...,"1,666","-2,961","-4,068",50,"-3,465",-166,NaN,"1,496","7,021","$8,517"
12,"Dec. 31, 2009","$6,906","1,236",241,353,-359,61,-43,134,221,...,664,"-1,518","-3,800",-2,"-2,293",576,NaN,"2,320","4,701","$7,021"

In [84]:
df = Data.iloc[1:,:]

In [85]:
df.columns

Index(['index',       0,       1,       2,       3,       4,       5,       6,
             7,       8,       9,      10,      11,      12,      13,      14,
            15,      16,      17,      18,      19,      20,      21,      22,
            23,      24,      25,      26,      27,      28,      29,      30,
            31,      32],
      dtype='object')

In [141]:
dd= df.replace(to_replace=["CONSOLIDATED STATEMENTS OF CASH FLOWS (USD $)"],value="Date")
dd

,index,0,1,2,3,4,5,6,7,8,...,23,24,25,26,27,28,29,30,31,32
1,Date,CONSOLIDATED NET INCOME,Depreciation and amortization,Stock-based compensation expense,Deferred income taxes,Equity (income) loss - net of dividends,Foreign currency adjustments,Significant (gains) losses on sales of assets ...,Other operating charges,Other items,...,Issuances of stock,Purchases of stock for treasury,Dividends,Other financing activities,Net cash provided by (used in) financing activ...,EFFECT OF EXCHANGE RATE CHANGES ON CASH AND CA...,CASH AND CASH EQUIVALENTS,Net increase (decrease) during the year,Balance at beginning of year,Balance at end of year
2,"Dec. 31, 2019","$8,985","1,365",201,-280,-421,91,-467,127,504,...,"1,012","-1,103","-6,845",-227,"-9,004",-72,NaN,"-2,581","9,318","6,737"
3,"Dec. 31, 2018","$6,476","1,086",225,-413,-457,-50,743,558,699,...,"1,476","-1,912","-6,644",-272,"-10,347",-262,NaN,"2,945","6,373","9,318"
4,"Dec. 31, 2017","$1,283","1,260",219,"-1,252",-628,292,"1,459","1,218",-252,...,"1,595","-3,682","-6,320",-95,"-7,447",241,NaN,"-2,477","8,850","6,373"
5,"Dec. 31, 2016","$6,550","1,787",258,-856,-449,158,"1,146",647,-224,...,"1,434","-3,681","-6,043",79,"-6,545",-5,NaN,"1,238","7,612","8,850"
6,"Dec. 31, 2015","$7,366","1,970",236,73,-122,-137,-374,929,744,...,"1,245","-3,564","-5,741",251,"-5,113",-878,NaN,"-1,649","8,958","$7,309"
7,"Dec. 31, 2014","$7,124","1,976",209,-40,-371,415,831,761,149,...,"1,532","-4,162","-5,350",-363,"-3,631",-934,NaN,"-1,456","10,414","$8,958"
8,"Dec. 31, 2013","$8,626","1,977",227,648,-201,168,-670,465,234,...,"1,328","-4,832","-4,969",17,"-3,745",-611,NaN,"1,972","8,442","$10,414"
9,"Dec. 31, 2012","$9,086","1,982",259,632,-426,-130,-98,166,254,...,"1,489","-4,559","-4,595",100,"-3,347",-255,NaN,"-4,361","12,803","$8,442"
10,"Dec. 31,2011","$8,646","1,954",354,"1,035",-269,7,-220,214,-354,...,"1,569","-4,513","-4,300",45,"-2,234",-430,',"4,286","8,517","$12,803"
11,"Dec. 31, 2010","$11,837","1,443",380,604,-671,151,-645,264,512,...,"1,666","-2,961","-4,068",50,"-3,465",-166,NaN,"1,496","7,021","$8,517"
12,"Dec. 31, 2009","$6,906","1,236",241,353,-359,61,-43,134,221,...,664,"-1,518","-3,800",-2,"-2,293",576,NaN,"2,320","4,701","$7,021"

In [130]:
import pandas as pd
header=dd.iloc[0]
data=dd[1:]
data.columns=header
data

1,Date,CONSOLIDATED NET INCOME,Depreciation and amortization,Stock-based compensation expense,Deferred income taxes,Equity (income) loss - net of dividends,Foreign currency adjustments,Significant (gains) losses on sales of assets - net,Other operating charges,Other items,...,Issuances of stock,Purchases of stock for treasury,Dividends,Other financing activities,Net cash provided by (used in) financing activities,EFFECT OF EXCHANGE RATE CHANGES ON CASH AND CASH EQUIVALENTS,CASH AND CASH EQUIVALENTS,Net increase (decrease) during the year,Balance at beginning of year,Balance at end of year
2,"Dec. 31, 2019","$8,985","1,365",201,-280,-421,91,-467,127,504,...,"1,012","-1,103","-6,845",-227,"-9,004",-72,NaN,"-2,581","9,318","6,737"
3,"Dec. 31, 2018","$6,476","1,086",225,-413,-457,-50,743,558,699,...,"1,476","-1,912","-6,644",-272,"-10,347",-262,NaN,"2,945","6,373","9,318"
4,"Dec. 31, 2017","$1,283","1,260",219,"-1,252",-628,292,"1,459","1,218",-252,...,"1,595","-3,682","-6,320",-95,"-7,447",241,NaN,"-2,477","8,850","6,373"
5,"Dec. 31, 2016","$6,550","1,787",258,-856,-449,158,"1,146",647,-224,...,"1,434","-3,681","-6,043",79,"-6,545",-5,NaN,"1,238","7,612","8,850"
6,"Dec. 31, 2015","$7,366","1,970",236,73,-122,-137,-374,929,744,...,"1,245","-3,564","-5,741",251,"-5,113",-878,NaN,"-1,649","8,958","$7,309"
7,"Dec. 31, 2014","$7,124","1,976",209,-40,-371,415,831,761,149,...,"1,532","-4,162","-5,350",-363,"-3,631",-934,NaN,"-1,456","10,414","$8,958"
8,"Dec. 31, 2013","$8,626","1,977",227,648,-201,168,-670,465,234,...,"1,328","-4,832","-4,969",17,"-3,745",-611,NaN,"1,972","8,442","$10,414"
9,"Dec. 31, 2012","$9,086","1,982",259,632,-426,-130,-98,166,254,...,"1,489","-4,559","-4,595",100,"-3,347",-255,NaN,"-4,361","12,803","$8,442"
10,"Dec. 31,2011","$8,646","1,954",354,"1,035",-269,7,-220,214,-354,...,"1,569","-4,513","-4,300",45,"-2,234",-430,',"4,286","8,517","$12,803"
11,"Dec. 31, 2010","$11,837","1,443",380,604,-671,151,-645,264,512,...,"1,666","-2,961","-4,068",50,"-3,465",-166,NaN,"1,496","7,021","$8,517"
12,"Dec. 31, 2009","$6,906","1,236",241,353,-359,61,-43,134,221,...,664,"-1,518","-3,800",-2,"-2,293",576,NaN,"2,320","4,701","$7,021"

In [136]:
#All values have been stated to be in dollars, however to ensure a clean and uniform table, the sign is removed from the first and last column

In [133]:
data["CONSOLIDATED NET INCOME"]= data["CONSOLIDATED NET INCOME"].str.replace("$","")

C:\Users\user\AppData\Local\Temp/ipykernel_4156/20802973.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["CONSOLIDATED NET INCOME"]= data["CONSOLIDATED NET INCOME"].str.replace("$","")
C:\Users\user\AppData\Local\Temp/ipykernel_4156/20802973.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["CONSOLIDATED NET INCOME"]= data["CONSOLIDATED NET INCOME"].str.replace("$","")

In [134]:
data["Balance at end of year"]=data["Balance at end of year"].str.replace("$","")

C:\Users\user\AppData\Local\Temp/ipykernel_4156/997207062.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["Balance at end of year"]=data["Balance at end of year"].str.replace("$","")
C:\Users\user\AppData\Local\Temp/ipykernel_4156/997207062.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Balance at end of year"]=data["Balance at end of year"].str.replace("$","")

In [135]:
data

1,Date,CONSOLIDATED NET INCOME,Depreciation and amortization,Stock-based compensation expense,Deferred income taxes,Equity (income) loss - net of dividends,Foreign currency adjustments,Significant (gains) losses on sales of assets - net,Other operating charges,Other items,...,Issuances of stock,Purchases of stock for treasury,Dividends,Other financing activities,Net cash provided by (used in) financing activities,EFFECT OF EXCHANGE RATE CHANGES ON CASH AND CASH EQUIVALENTS,CASH AND CASH EQUIVALENTS,Net increase (decrease) during the year,Balance at beginning of year,Balance at end of year
2,"Dec. 31, 2019","8,985","1,365",201,-280,-421,91,-467,127,504,...,"1,012","-1,103","-6,845",-227,"-9,004",-72,NaN,"-2,581","9,318","6,737"
3,"Dec. 31, 2018","6,476","1,086",225,-413,-457,-50,743,558,699,...,"1,476","-1,912","-6,644",-272,"-10,347",-262,NaN,"2,945","6,373","9,318"
4,"Dec. 31, 2017","1,283","1,260",219,"-1,252",-628,292,"1,459","1,218",-252,...,"1,595","-3,682","-6,320",-95,"-7,447",241,NaN,"-2,477","8,850","6,373"
5,"Dec. 31, 2016","6,550","1,787",258,-856,-449,158,"1,146",647,-224,...,"1,434","-3,681","-6,043",79,"-6,545",-5,NaN,"1,238","7,612","8,850"
6,"Dec. 31, 2015","7,366","1,970",236,73,-122,-137,-374,929,744,...,"1,245","-3,564","-5,741",251,"-5,113",-878,NaN,"-1,649","8,958","7,309"
7,"Dec. 31, 2014","7,124","1,976",209,-40,-371,415,831,761,149,...,"1,532","-4,162","-5,350",-363,"-3,631",-934,NaN,"-1,456","10,414","8,958"
8,"Dec. 31, 2013","8,626","1,977",227,648,-201,168,-670,465,234,...,"1,328","-4,832","-4,969",17,"-3,745",-611,NaN,"1,972","8,442","10,414"
9,"Dec. 31, 2012","9,086","1,982",259,632,-426,-130,-98,166,254,...,"1,489","-4,559","-4,595",100,"-3,347",-255,NaN,"-4,361","12,803","8,442"
10,"Dec. 31,2011","8,646","1,954",354,"1,035",-269,7,-220,214,-354,...,"1,569","-4,513","-4,300",45,"-2,234",-430,',"4,286","8,517","12,803"
11,"Dec. 31, 2010","11,837","1,443",380,604,-671,151,-645,264,512,...,"1,666","-2,961","-4,068",50,"-3,465",-166,NaN,"1,496","7,021","8,517"
12,"Dec. 31, 2009","6,906","1,236",241,353,-359,61,-43,134,221,...,664,"-1,518","-3,800",-2,"-2,293",576,NaN,"2,320","4,701","7,021"

In [167]:
import matplotlib as plt
#Univariate analysis
Data = data.replace(to_replace=["Balance at end of year"],value="end_year_balance")
Data

1,Date,CONSOLIDATED NET INCOME,Depreciation and amortization,Stock-based compensation expense,Deferred income taxes,Equity (income) loss - net of dividends,Foreign currency adjustments,Significant (gains) losses on sales of assets - net,Other operating charges,Other items,...,Payments of debt,Issuances of stock,Purchases of stock for treasury,Dividends,Other financing activities,Net cash provided by (used in) financing activities,EFFECT OF EXCHANGE RATE CHANGES ON CASH AND CASH EQUIVALENTS,Net increase (decrease) during the year,Balance at beginning of year,Balance at end of year
2,"Dec. 31, 2019","8,985","1,365",201,-280,-421,91,-467,127,504,...,"-24,850","1,012","-1,103","-6,845",-227,"-9,004",-72,"-2,581","9,318","6,737"
3,"Dec. 31, 2018","6,476","1,086",225,-413,-457,-50,743,558,699,...,"-30,600","1,476","-1,912","-6,644",-272,"-10,347",-262,"2,945","6,373","9,318"
4,"Dec. 31, 2017","1,283","1,260",219,"-1,252",-628,292,"1,459","1,218",-252,...,"-28,871","1,595","-3,682","-6,320",-95,"-7,447",241,"-2,477","8,850","6,373"
5,"Dec. 31, 2016","6,550","1,787",258,-856,-449,158,"1,146",647,-224,...,"-25,615","1,434","-3,681","-6,043",79,"-6,545",-5,"1,238","7,612","8,850"
6,"Dec. 31, 2015","7,366","1,970",236,73,-122,-137,-374,929,744,...,"-37,738","1,245","-3,564","-5,741",251,"-5,113",-878,"-1,649","8,958","7,309"
7,"Dec. 31, 2014","7,124","1,976",209,-40,-371,415,831,761,149,...,"-36,962","1,532","-4,162","-5,350",-363,"-3,631",-934,"-1,456","10,414","8,958"
8,"Dec. 31, 2013","8,626","1,977",227,648,-201,168,-670,465,234,...,"-38,714","1,328","-4,832","-4,969",17,"-3,745",-611,"1,972","8,442","10,414"
9,"Dec. 31, 2012","9,086","1,982",259,632,-426,-130,-98,166,254,...,"-38,573","1,489","-4,559","-4,595",100,"-3,347",-255,"-4,361","12,803","8,442"
10,"Dec. 31,2011","8,646","1,954",354,"1,035",-269,7,-220,214,-354,...,"-22,530","1,569","-4,513","-4,300",45,"-2,234",-430,"4,286","8,517","12,803"
11,"Dec. 31, 2010","11,837","1,443",380,604,-671,151,-645,264,512,...,"-13,403","1,666","-2,961","-4,068",50,"-3,465",-166,"1,496","7,021","8,517"
12,"Dec. 31, 2009","6,906","1,236",241,353,-359,61,-43,134,221,...,"-12,326",664,"-1,518","-3,800",-2,"-2,293",576,"2,320","4,701","7,021"